<br>
<div class="container">
	<p class="text-primary">Ești aici: <b>Home - Listă angajaţi</b></p>
	<b><a href="/employee/add">Adaugă angajat</a></b>
	<br>
	<br>
	<div class="list-group">
	[% FOREACH key IN data.keys.sort -%]
		<a href="[% c.uri_for(c.controller.action_for('edit'), key) %]" name="employee" id="employee" class="list-group-item">[% data.$key %]</a>
		<a href="[% c.uri_for(c.controller.action_for('delete'), key) %]">Ștergere</a>
	[% END -%]
	</div>
</div>