<br>
<div class="container">
	<div class="list-group">
	[% FOREACH key IN teams.keys.sort -%]
		<a href="[% c.uri_for(c.controller.action_for('view_employees_in_team'), key) %]" name="team" id="team" class="list-group-item">[% teams.$key %]</a>
	[% END -%]
	</div>
</div>