<br>
<div class="container">
	<div class="list-group">
	[% FOREACH key IN skills.keys.sort -%]
		<a href="[% c.uri_for(c.controller.action_for('view_employees_with_skill'), key) %]" name="skill" id="skill" class="list-group-item">[% skills.$key %]</a>
	[% END -%]
	</div>
</div>