<div class="inner cover">
<div class="container">
<img alt="" src ="http://www.snacknation.com/wp-content/uploads/2015/08/scrum-board-for-office-management.jpg"; style="width: 100%;> </div>
</div>

