<div class="inner cover">
<!-- <h1 class="cover-heading">Please</h1> -->
<div class="container" style="background-image: url(http://www.snacknation.com/wp-content/uploads/2015/08/scrum-board-for-office-management.jpg); height: 343px; width: 800px; border: 1px solid black;"> </div>
</div>

