
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PManage</title>

    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <!--     <link href="https://getbootstrap.com/examples/signin/signin.css" rel="stylesheet"> -->
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="dist/bootstrap-clockpicker.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>

<!--     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.7.0/js/canvas-to-blob.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.7.0/js/canvas-to-blob.min.js"></script>
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>

    
    <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
    </script>
  </head>
<body>
<!--   background="http://www.snacknation.com/wp-content/uploads/2015/08/office-management-tools.jpeg"> -->
<div class="container">
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/team/view_teams_for_this_user">Echipele mele</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/sprints/list">Sprinturi</a></li>
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Angajaţi<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/employee/add">Adăugare angajat nou</a></li>
                  <li><a href="/employee/list">Vizualizare angajaţi</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Grupează după</li>
                  <li><a href="/department/list">Departament</a></li>
                  <li><a href="/team/list">Proiect</a></li>
                  <li><a href="/skill/list">Abilităţi</a></li>
                </ul>
          </li>
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proiecte <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/team/add_new_team">Adăugare proiect nou</a></li>
                  <li><a href="/team/view_teams_for_this_user">Vizualizare proiecte</a></li>
                </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
        [% IF c.user_exists %]
        Bine ai venit, [% c.user.display_name %]!
        </a></li>
        <li>
        <a href="[% c.uri_for('/logout') %]">Logout</a></li>
          [% ELSE %]
              Trebuie să te autentifici.
          [% END %]
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>

<div id="content">
    [%# Status and error messages %]
    [% IF status_msg %]
    <div class="alert alert-success">[% status_msg %]</div>
    [% ELSIF error_msg %]
    <div class="alert alert-danger">[% error_msg %]</div>
    [% END %]
    [%# This is where TT will stick all of your template's contents. -%]
    [% content %]
</div><!-- end content -->
</div><!-- end bodyblock -->
<br><br><br><br>
<footer class="footer">
<!--     <div class="text-center">Copyright (c) Edina</div> -->
</footer>
</div><!-- end outer -->

</body>
</html>